[Unit]
Description=doc.gm-lang.org service
After=network.target

[Service]
Environment="gmraw=/home/giacomo/docs/raw"
Environment="gmsrc=/home/giacomo/docs/src"
Environment="static=/home/giacomo/docs/static"

Type=simple
Restart=no
User=giacomo
ExecStart=python3 /home/giacomo/docs/index.py

[Install]
WantedBy=multi-user.target
